
:root{
	--main-color:#E66756;
}


main{
    padding-top: 2em;
}

.leftSideBar{
    width: 100%;
}
.leftSideBar h1{
    font-size: 20px;
    color:#555;
    font-weight: 600;
    position: relative;
    margin-bottom: 15px;
}
.leftSideBar h1::before{
    content: '';
    background: #ccc;
    width: 50px;
    height: 4px;
    position: absolute;
    bottom: -8px;
}
.leftSideBar ul{
    list-style: none;
}
.prod_class-1 li{
    font-weight: 600;
    font-size: 18px;
    color:var(--main-color);
    border-bottom: 1px #ccc solid;
    height: 40px;
    line-height: 40px;
}
.prod_class-2 li{
    font-weight: 500;
    font-size: 16px;
    color:#000;
    padding-left: 5px;
    cursor: pointer;
}
.prod_class-2:hover > li{
    background: var(--main-color);
    transition: .5s;
    color:#fff;
}
.prod_class-2:hover > .prod_class-3 li{
    display: block;
    transition: .5s;
}
.prod_class-3 li{
    font-weight: 500;
    font-size: 16px;
    color:#555;
    display: none;
}
.prod_class-3 li::before{
    content: ' - ';
}
.prod_class-3 li:hover{
    transition: .5s;   
    font-weight: 600;
    background: #fff;
    color:#333;
}
.hotprod{
    margin-top: 15px;
}
.hotprod li{
    display: flex;
    border-bottom: 1px #ccc solid;
    padding: 5px 0;
    margin: 5px 0;
}
.hotprod li >img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 10px;
}
.hotprodText{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hotprodText h2{
    font-size: 20px;
}

.sort{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}
.sort h3{
    font-size: 16px;
    margin-bottom: 0;
}
.sort select{
    width: 180px;
    height: 35px;
    margin-left: 10px;
    outline: none;
    border:none;
    border:1px #aaa solid;
    border-radius: 3px;
    font-size: .9rem;
}
.sort select:focus{
    border:2px var(--main-color) solid;
}
.prodItem{
    display: block;
    width: 100%;
    height: 300px;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    color:#000;
    margin-bottom: 15px;
}
.prodItem .buyNow{
    width: 150px;
    height: 35px;
    background: #fff;
    text-align: center;
    line-height: 35px;
    position: absolute;
    top: 50px;
    left: calc(50% - 75px);
    opacity: 0;
}
.prodItem:hover{
    color:#000;
}
.prodItem:hover > .buyNow{
    opacity: 1;
    top:72.5px;
    transition: .5s;
    z-index: 998;
}
.prodItem:hover >img{
    -webkit-filter:blur(3px);

}
.prodItem img{
    width: 100%;
    height: 180px;
}
.prodItem .prodItemText{
    padding: 10px;
}
.prodItem .prodItemText h4{
    font-size: 18px;
    font-weight: 600;
}
.prodItemPrice{
    display: flex;
    align-items: center;
}
.prodItemPrice p{
    text-decoration: line-through;
    margin-bottom: 0;
}
.prodItemPrice b{
    font-size: 24px;
    margin: 0 10px;
    color:#BD1E2C;
}
.prodItemSold{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.prodItemSold h5{
    font-size: 14px;
    margin: 0;
}
.prodItemSold p{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color:var(--main-color);
}
.pageBox{
	width:100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
    padding: 0 10px;
    margin: 25px 0;
}
.page{
	display: flex;
	list-style: none;
	align-items: center;
	margin: 15px 0;
}
.page i{
	margin: 0 15px;
	cursor: pointer;
	color:#999;
}
.page i:hover{
	color:#000;
	transition: .3s;
}
.page li{
	width:40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.page li:hover{
	background-color: #ddd;
}
.filter{
    display: flex;
    justify-content: center;
    font-size: 20px;
    display: none;
}
.barClose{
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    width:50px;
    height:50px;
    z-index: 999;
    

}
.barClose i{
    font-size: 24px;
    
}
@media screen and (max-width:1024px){
    .breadcrumbs{
        margin-top: 100px;
    }
    
}
@media screen and (max-width:768px){
    .filter{
        display: flex;
    }
    main{
        position: relative;
    }
    .leftSideBar{
        position: fixed;
        width: 50%;
        height: 100%;
        top: 0px;
        left: -70%;
        background: #fff;
        z-index: 999;
        padding: 15px 10px;
        overflow-y: scroll;
        display: none;
        opacity: 0;
        transition: .5s ease;
    }
    .leftSideBar::-webkit-scrollbar{
        display: none;
    }
    .barClose{
        
        display:flex;
        justify-content: center;
        align-items:center;
    }
}
@media screen and (max-width:500px){
    .leftSideBar{
        width: 70%;
    }
    .col-sm-12{
        padding-left: 3px;
        padding-right: 3px;
    }
    .col-6{
        padding-left: 3px;
        padding-right: 3px;
    }
}
